# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/


# Environment variables
.env
.env.local

# Node.js
dashboard-react/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml
